.header {
    height: 80px;
    background-color: bisque;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.8em 1em;

}

.logoWrapper {
    flex-grow: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.logo {
    height: 80px;
    width: 120px;
}

.searchWrapper {
    display: flex;
    height: 40px;
    flex-grow: 5;
}

.searchWrapper > input{
    font-size: 1.2rem;
    outline: 0;
    flex-basis: 100%;
}

.button {
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
 }

 .button:hover {background-color: #3e8e41}

 .button:active {
     background-color: #3e8e41;
     box-shadow: 0 5px #666;
     transform: translateY(4px);
}

.img {
    padding: 0.5em 0.2em;
    height: 100%;
}